html {
    background-color: burlywood;
}

h1 {
    text-align: center;
    background-color: rgb(255, 228, 196, 0.5);
    color: darkred;
    font-family: "Times-New-Roman", Helvetica, sans-serif;
}

a {
    color: darkred;
}